.btn_header {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 2px;
  text-transform: uppercase;
}

.btn_header:hover {
  background-color: lightgray;
  transition: ease-in-out 0.2s;
}

.load_more {
  display: flex;
  max-width: 200px;
  justify-content: center;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #000;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  transition: ease-in-out 0.2s;
}

.load_more:hover {
  background-color: lightgray;
  border: 1px solid #efefef;
}

.send {
  background-color: #c2c2c2;
  border: none;
  padding: 10px;
  color: #3c3c3c;
  font-family: "Montserrat";
  text-transform: uppercase;
}
