@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://use.typekit.net/whv2mek.css");

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  text-transform: none;
}

h2 {
  color: $font-primary-color;
  margin: 0;
  padding: 0;
  font-family: $font-primary-font;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

h3 {
  color: 100% $font-secondary-color;
  margin: 0;
  padding: 0;
  font-family: $font-secondary-font;
}

h4 {
  color: $font-third-color;
  font-family: $font-secondary-font;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  font-family: $font-secondary-font;
  letter-spacing: 1.1px;
  font-size: 1rem;
}

.second_font-color {
  font-family: $font-secondary-font;
  color: $font-primary-color;
  letter-spacing: 1.1px;
  font-size: 1rem;
}

a {
  font-family: $font-primary-font;
  font-size: 1rem;
}

span {
  font-family: $font-primary-font;
  font-size: 1rem;
}

li {
  font-family: $font-secondary-font;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}

select {
  font-family: $font-secondary-font;
  font-size: 1.3rem;
  font-weight: bold;
  list-style: none;
}

label {
  font-family: $font-secondary-font;
}

button {
  font-family: $font-primary-font;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
}
