.head {
  width: 100%;
  margin-top: 70px;
  height: calc(80vh - 71px);
background: #f85050; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f85050 0%, #db2929 39%, #f85050 68%, #db2929 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f85050 0%,#db2929 39%,#f85050 68%,#db2929 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f85050 0%,#db2929 39%,#f85050 68%,#db2929 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85050', endColorstr='#db2929',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: relative;
}

.product_presentation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  padding: 30px ;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.product_presentation {
     img {
          margin-left: -60px;
     }
  
  h2 {
    width: 100%;
  }
  p {
    color: #fff;
  }
  .add {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
}
.downer {
     position: absolute;
     bottom:5%;
     left: 50%;
}