.navigation {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  border-bottom: .015rem solid #c2c2c2 ;
}

.linklist {
  display: flex;
  align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.linklist li:not(:first-child):hover  {
  background-color: lightgray;
  transition: ease-in-out 0.2s;
}

.icons :hover  {
  background-color: lightgray;
  transition: ease-in-out 0.2s;
}

.linklist li:nth-child(1) {
  margin: 0 50px 0 0;
  padding: 0;
}

.icons {
  display: flex;
  margin: 0;
}

.like,
.basket {
  padding: 21px;
}