/*SCHRIFTFARBEN UND FONTS*/

$font-primary-color: #fff;

$font-secondary-color: #000;

$font-third-color: #3c3c3c;

$font-primary-font: "Montserrat", cursive;

$font-secondary-font: Arial, cursive;

/* FARBEN HINTERGRUND*/

$bg-primary-color: #ffffff;

$bg-secondary-color: #292929;

$bg-third-color: #c2c2c2;

$bg-fourth-color: #3e3e3e;
