/*SCHRIFTFARBEN UND FONTS*/

$font-primary-color: #fff;

$font-secondary-color:#000;

$font-third-color:#c2c2c2;

$font-primary-font: Righteous, cursive;

$font-secondary-font: Montserrat, cursive;


/* FARBEN HINTERGRUND*/

$bg-primary-color: #fff;

$bg-secondary-color: #292929;

$bg-third-color: #c2c2c2;

$bg-fourth-color: #3e3e3e;